/* ROOTS */
@import url("./normalize.css");
@font-face {
  font-family: "futura-book";
  src: url("../fonts/FUTURA_BOOK.TTF");
}
/*@font-face {*/
/*  font-family: "futura-book-italic";*/
/*  src: url("../fonts/FUTURA_BOOK_ITALIC.TTF");*/
/*}*/
/*@font-face {*/
/*  font-family: "futura-light";*/
/*  src: url("../fonts/FUTURA_BOOK_ITALIC.TTF");*/
/*}*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: "futura-light", sans-serif;
  color: #fff;
}

h2 {
  text-transform: uppercase;
  font-size: 38px;
  text-align: center;
  letter-spacing: 5px;
  margin-bottom: 116px;
}
@media (max-width: 658px) {
  h2 {
    margin-bottom: 30px;
  }
}
@media (max-width: 527px) {
  h2 {
    font-size: 24px;
  }
}

h3 {
  font-size: 26px;
  margin: 0;
}
@media (max-width: 930px) {
  h3 {
    font-size: 24px;
  }
}
@media (max-width: 527px) {
  h3 {
    font-size: 22px;
  }
}

p {
  font-size: 22px;
  letter-spacing: 1px;
  font-weight: 500;
  margin: 0;
}
@media (max-width: 1174px) {
  p {
    font-size: 18px;
  }
}
@media (max-width: 930px) {
  p {
    font-size: 14px;
  }
}
@media (max-width: 527px) {
  p {
    font-size: 18px;
  }
}

.wrapper {
  max-width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgb(25, 1, 32), rgb(40, 82, 76));
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
}
@media (max-width: 527px) {
  .container {
    padding: 10px;
  }
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 110px;
  background-color: #0A0804;
}
@media (max-width: 930px) {
  .header {
    height: 90px;
  }
}
@media (max-width: 780px) {
  .header {
    height: 70px;
  }
}
@media (max-width: 577px) {
  .header {
    height: 50px;
  }
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-left: -60px;
  margin-top: 0;
  margin-bottom: 0;
}
.nav-links .link {
  margin-left: 40px;
}
@media (max-width: 780px) {
  .nav-links .link {
    margin-left: 10px;
  }
}
@media (max-width: 577px) {
  .nav-links .link {
    margin-left: 5px;
  }
}
.nav-links .link a {
  text-decoration: none;
  font-size: 28px;
  color: #fff;
  text-transform: uppercase;
  border-bottom: 2px solid #fff;
  transition: all ease-in-out 0.4s;
}
.nav-links .link a:hover {
  color: rgb(143, 36, 176);
  border-bottom: 0px solid rgb(143, 36, 176);
}
@media (max-width: 930px) {
  .nav-links .link a {
    font-size: 26px;
  }
}
@media (max-width: 780px) {
  .nav-links .link a {
    font-size: 20px;
  }
}
@media (max-width: 577px) {
  .nav-links .link a {
    font-size: 14px;
  }
}

@media (max-width: 335px) {
  .nav-links .link a {
    font-size: 12px;
  }
  .container {
    padding: 1px;
  }
}

/* Video block */
.video {
  position: relative;
  padding-bottom: 56.25%;
  z-index: 1;
}

.intro__content {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
}
.intro__container {
  max-width: 1200px;
  margin: 0 auto;
}

.main__title {
  margin: 0;
  font-size: 60px;
}

.video__media {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}

.intro {
  max-height: 70vh;
  overflow: hidden;
  position: relative;
  background: url("../assets/img/cover.webp") center no-repeat;
  background-size: cover;
}
.intro::after {
  content: "";
  display: block;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

/* CHARACTERS */
.main-box a {
  text-align: center;
}

.characters, .interactives, .dancings {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
@media (max-width: 658px) {
  .characters, .interactives, .dancings {
    gap: 0;
  }
}

.dancing__body, .interactive__body, .character__body {
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  position: relative;
  display: flex;
  border: 3px solid #d9d9d9;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 110px;
}
@media (max-width: 658px) {
  .dancing__body, .interactive__body, .character__body {
    margin-bottom: 30px;
  }
}
@media (max-width: 527px) {
  .dancing__body, .interactive__body, .character__body {
    gap: 5px;
    flex-direction: column;
  }
  .main__title {
    font-size: 54px;
  }
}
@media(max-width: 440px) {
  .main__title {
    font-size: 46px;
  }
}

.dancing-img, .elf-img, .driada-img {
  position: absolute;
  top: -50%;
  left: 37%;
  z-index: 22;
  width: 290px;
  height: auto;
  transition: all ease-in-out 0.4s;
  cursor: pointer;
}
.dancing-img:hover, .elf-img:hover, .driada-img:hover {
  transform: scale(110%);
}
@media (max-width: 930px) {
  .dancing-img, .elf-img, .driada-img {
    width: 225px;
    height: auto;
    padding: 1px;
    height: auto;
  }
}
@media (max-width: 658px) {
  .dancing-img, .elf-img, .driada-img {
    width: 94px;
    padding: 1px;
    height: auto;
    position: static;
  }
}
@media (max-width: 527px) {
  .dancing-img, .elf-img, .driada-img {
    margin: 0 auto;
    width: 225px;
  }
}

.dancing__body-description, .interactive__body-description, .character__body-description {
  flex-basis: 62%;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #d9d9d9;
}
@media (max-width: 527px) {
  .dancing__body-description, .interactive__body-description, .character__body-description {
    text-align: center;
    margin-right: 0;
  }
}

.dancing__body-timing, .interactive__body-timing, .character__body-timing {
  flex: 35%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid #d9d9d9;
}

/* FOOTER */
.footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: linear-gradient(90deg, rgb(25, 1, 32), rgb(40, 82, 76));
  padding-bottom: 35px;
}

.contacts {
  display: flex;
  gap: 30px;
  align-items: center;
  padding: 20px 66px;
}
@media (max-width: 780px) {
  .contacts {
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  }
}

.socials {
  display: flex;
  border: 1px solid #fff;
  border-radius: 14px;
  flex-wrap: wrap;
  width: 110px;
  height: 110px;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
}
.socials img {
  cursor: pointer;
  padding: 5px;
  transition: all ease-in-out 0.4s;
}
.socials img:hover {

  border-radius: 50%;
}

.disclamer {
  display: flex;
  flex: 30%;
  flex-direction: column;
}
.disclamer p {
  font-size: 24px;
  padding: 10px 0;
}
@media (max-width: 780px) {
  .disclamer p {
    text-align: center;
  }
}
.disclamer span {
  color: red;
}